@import "tailwindcss";

@theme {
  /* ------------------------------
     PRIMARY COLOR SCALE
  ------------------------------ */
  --color-primary-50: 240 249 255;
  --color-primary-100: 224 242 254;
  --color-primary-200: 186 230 253;
  --color-primary-300: 125 211 252;
  --color-primary-400: 56 189 248;
  --color-primary-500: 14 165 233;
  --color-primary-600: 2 132 199;
  --color-primary-700: 3 105 161;
  --color-primary-800: 7 89 133;
  --color-primary-900: 12 61 102;

  /* ------------------------------
     SECONDARY COLOR SCALE
  ------------------------------ */
  --color-secondary-50: 254 243 199;
  --color-secondary-100: 252 211 77;
  --color-secondary-200: 251 191 36;
  --color-secondary-300: 245 158 11;
  --color-secondary-400: 217 119 6;
  --color-secondary-500: 180 83 9;
  --color-secondary-600: 146 64 14;
  --color-secondary-700: 120 53 15;

  /* ------------------------------
     CUSTOM SPACING
  ------------------------------ */
  --spacing-sidebar: 280px;
}

#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
  scroll-behavior: smooth;
}